.spotify-logo {
    display: flex;
    align-items: center;
    z-index: 2;
    opacity: 0.85;
    transition: all 0.4s ease;
    height: 24px;
}

.spotify-logo:hover {
    opacity: 1;
    transform: translateY(-2px);
}

.spotify-logo svg {
    width: auto;
    height: 100%;
    transition: transform 0.3s ease;
}

.spotify-logo:hover svg {
    transform: scale(1.1);
}

@media (max-width: 480px) {
    .spotify-logo {
        bottom: 20px;
        left: 20px;
    }

    .spotify-logo svg {
        width: 20%;
    }
}